---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        # Exclude helm templates and other non-standard yaml files from check-yaml
        exclude: &exclude_non_pure_yaml ^charts/.*\.yaml$|^kubernetes/.*(values|schema|gotk-components)\.yaml$
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        # Exclude helm templates and other non-pure yaml files from yamllint
        exclude: *exclude_non_pure_yaml
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.11.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.46.0
    hooks:
      - id: markdownlint
        args: ["--config", ".markdownlint.yaml"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
        name: Detect secret leaks
        description: "Scans for secrets in git history and staged files"
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.104.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
